{% extends 'mylayout.html' %}

{% block content %}

{% load static %}
<header>
    <div class="w3-cell-row">
        <div class="w3-container w3-black w3-cell">
          <img src="{% static 'portfolio/perfil.jpeg' %}">
        </div>
        <div class="w3-container w3-black w3-cell">
          <h1 class="w3-center">Hildemaro Ramon Carraquel Matos, PhD</h1>
          <h3 class="w3-center w3-text-yellow"> Electronic Engineer, Programmer, DIY, Baseball loved</h3>
          <p class="w3-padding">Around 18 years of experience in the area of electronics, instrumentation and control, industrial maintenance, projects and automation of 
              residential and industrial processes; working in Venezuela, Brazil and E.E.U.U. I have participated in multidisciplinary teams in the 
              execution of large-scale projects. Always keeping knowledge at the forefront of technology market.
          </p>
          <!--<a class="w3-btn w3-green" href="{% static 'portfolio/cv.pdf' %}"> Download CV</a> -->
        </div>
      </div>
</header>
<div class="w3-col w3-gray">
    <h1 class="w3-center">My Projects</h1>
{% for my_project in my_projects  %}
    <div class="w3-card-4 w3-black w3-padding w3-margin">   
        <!--<img src="{{my_project.image.url }}" />  -->
        <p class="w3-text-white w3-large">{{ my_project.title }}</p>
        <p class="w3-text-yellow">{{ my_project.date }}</p>
        <p>{{ my_project.description }}</p>
    </div>
{% endfor %}
</div>
{% endblock content %}
    