{% extends 'mylayout.html' %}
{% load i18n %}
{% block content %}

{% load static %}
<header>
  <!--<div class="w3-cell-row">-->
    <div class="w3-container w3-black w3-cell">
      <img src="{% static 'portfolio/perfil.jpeg' %}">
    </div>
    <div class="w3-container w3-black w3-cell">
      <h1 class="w3-center">{% trans "Hildemaro Ramon Carraquel Matos, PhD" %}</h1>
      <h3 class="w3-center w3-text-yellow">{% trans "Electronic Engineer, Programmer, DIY, Baseball loved" %}</h3>
      <p class="w3-padding">{% blocktrans%} Around 18 years of experience in the area of electronics, instrumentation and control, 
                                      industrial maintenance, projects and automation of residential and industrial processes; 
                                      working in Venezuela, Brazil, E.E.U.U. and Spain. I have participated in multidisciplinary teams 
                                      in the execution of large-scale projects. Always keeping knowledge at the forefront of 
                                      technology market. {% endblocktrans %}
      </p>
      <!--<a class="w3-btn w3-green" href="{% static 'portfolio/cv.pdf' %}"> Download CV</a> -->
    </div>
  <!--</div>-->
</header>
<div class="w3-col w3-gray">
    <h1 class="w3-center">{% trans "Featured Works" %}</h1>
{% for my_project in my_projects|dictsortreversed:"date"  %}
    
    <div class="w3-card-4 w3-black w3-padding w3-margin">  
       
       {% comment %}
        <img src="{{my_project.image.url }}" /> 
       {% endcomment %}
        
        <p class="w3-text-white w3-large">{{ my_project.title }}</p>
        <p class="w3-text-yellow">
        {{my_project.date}}  </p> 
       
        <p>{{ my_project.description }}</p>
    </div>
{% endfor %}
</div>
{% endblock content %}
    

{% comment %}
       <p class="w3-text-yellow">{{ my_project.date }}</p>
       {% endcomment %}