{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>{% trans "Web Site - Hildemaro Carrasquel" %}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=DM Serif Display">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body, h1,h2,h3,h4,h5,h6 {font-family: "DM Serif Display", sans-serif}
.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */
.w3-sidebar {width: 120px;background: #222;}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 120px}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-left: 0}}
</style>
</head>
<body class="w3-black">


{% get_current_language as CURRENT_LANGUAGE %}
{% get_available_languages as AVAILABLE_LANGUAGES %}
{% get_language_info_list for AVAILABLE_LANGUAGES as languages %}

<!-- Icon Bar (Sidebar - hidden on small screens) -->
<nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
  <!-- Avatar image in top left corner -->
  <img src="{% static 'portfolio/hildemaro2.png' %}" style="width:100%">
  <a href="#" class="w3-bar-item w3-button w3-padding-large w3-black">
    <i class="fa fa-home w3-xxlarge"></i>
    <p>{% trans "Home" %}</p>
  </a>
  <a href="#about" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-user w3-xxlarge"></i>
    <p>{% trans "About Me" %}</p>
  </a>
  <a href="#projects" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-cubes w3-xxlarge"></i>
    <p>{% trans "My Projects" %}</p>
  </a>
  <a href="#blog" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-newspaper-o w3-xxlarge"></i>
    <p>{% trans "My Blog" %}</p>
  </a>
  <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-envelope w3-xxlarge"></i>
    <p>{% trans "Contact" %}</p>
  </a>
</nav>

<!-- Navbar on small screens (Hidden on medium and large screens) -->
<div class="w3-top w3-hide-large w3-hide-medium w3-black" id="myNavbar">
  <!--
    <div class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">
      <a href="#" class="w3-bar-item w3-button" style="width:20% !important">{% trans "Home" %}</a>
      <a href="#about" class="w3-bar-item w3-button" style="width:20% !important">{%trans "About" %}</a>
      <a href="#projects" class="w3-bar-item w3-button" style="width:20% !important">{% trans "Projects" %}</a>
      <a href="#blog" class="w3-bar-item w3-button" style="width:20% !important">{% trans "Blog" %}</a>
      <a href="#contact" class="w3-bar-item w3-button" style="width:20% !important">{% trans "Contact" %}</a>    
    </div>
    
  --> 
    
    <div class="w3-dropdown-click">
      <button onclick="myFunction()" class="w3-button w3-black">&#9776</button>
        <div id="demo" class="w3-dropdown-content w3-bar-block w3-border">
          <a href="#" class="w3-bar-item w3-button" >{% trans "Home" %}</a>
          <a href="#about" class="w3-bar-item w3-button" >{%trans "About" %}</a>
          <a href="#projects" class="w3-bar-item w3-button" >{% trans "Projects" %}</a>
          <a href="#blog" class="w3-bar-item w3-button" >{% trans "Blog" %}</a>
          <a href="#contact" class="w3-bar-item w3-button" >{% trans "Contact" %}</a>  
        </div>

    </div>   

    <div class="w3-container w3-right w3-black ">
    <div class="w3-dropdown-hover">
      <button class="w3-button w3-black"> {% blocktrans %} Language: {{ CURRENT_LANGUAGE }} {% endblocktrans %} <i class="fa fa-caret-down"> </i></button>
      <div class="w3-dropdown-content w3-bar-block w3-border">
        {% for  language in languages  %} 
          <a href="/{{ language.code }}/" class="w3-bar-item w3-button">  {{ language.name_local }} </a>
        {% endfor %}
      </div>
    </div>      
      
      {% if CURRENT_LANGUAGE == 'es' %}
        <img src="{% static 'portfolio/flag-spain.png' %}" style="width: 48px;height: 36px;">
      {% endif %}
      {% if CURRENT_LANGUAGE == 'en' %}
        <img src="{% static 'portfolio/flag-usa.png' %}" style="width: 48px;height: 36px;">
      {% endif %}
      {% if CURRENT_LANGUAGE == 'pt' %}
        <img src="{% static 'portfolio/flag-brazil.png' %}" style="width: 48px;height: 36px;">
      {% endif %}      
    </div>
</div>

<!-- Page Content -->
<div class="w3-padding" id="main">

  <!-- Language Code -->
  <div class="w3-container w3-right w3-hide-small">
    <div class="w3-dropdown-hover">
      <button class="w3-button"> {% blocktrans %} Language: {{ CURRENT_LANGUAGE }} {% endblocktrans %} <i class="fa fa-caret-down"> </i></button>
      <div class="w3-dropdown-content w3-bar-block w3-border">
        {% for  language in languages  %} 
          <a href="/{{ language.code }}/" class="w3-bar-item w3-button">  {{ language.name_local }}  </a>
        {% endfor %}
      </div>
    </div>      
      
      {% if CURRENT_LANGUAGE == 'es' %}
        <img src="{% static 'portfolio/flag-spain.png' %}" style="width: 48px;height: 36px;">
      {% endif %}
      {% if CURRENT_LANGUAGE == 'en' %}
        <img src="{% static 'portfolio/flag-usa.png' %}" style="width: 48px;height: 36px;">
      {% endif %}
      {% if CURRENT_LANGUAGE == 'pt' %}
        <img src="{% static 'portfolio/flag-brazil.png' %}" style="width: 48px;height: 36px;">
      {% endif %}      
      
  </div>

<!-- End language Code-->

  <!-- Header/Home -->
    <header class="w3-container w3-padding-16 w3-center w3-black" id="home">     
      <h1 class="w3-jumbo"><span class="w3-hide-small">PhD,</span> Hildemaro Carrasquel.</h1>
      <p>{% trans "Electronic Engineer, Programmer, DIY, Baseball loved." %}</p>
      <img src="{% static 'portfolio/hildemaro2.png' %}" alt="boy" class="w3-image w3-circle" width="300" height="300">
    </header>   

      
  <!-- About Section -->
  <div class="w3-content w3-justify w3-text-amber w3-padding-16" id="about">
    <h2 class="w3-text-light-amber">{% trans "About me!" %}</h2>
    <hr style="width:200px" class="w3-opacity" >
    <p class="w3-text-white">{% blocktrans %} My name is Hildemaro Carrasquel, I am trained in the electronic area, mentioning 
      control and instrumentation; with a master's degree in automation of industrial production processes {% endblocktrans %}
    </p>
    <p class="w3-text-white">{% blocktrans %} Around 20 years of experience in the area of electronics, instrumentation and control, 
      industrial maintenance, projects and automation of residential and industrial processes; 
      working in Venezuela, Brazil, E.E.U.U. and Spain. I have participated in multidisciplinary teams 
      in the execution of large-scale projects. Always keeping knowledge at the forefront of 
      technology market. {% endblocktrans %}
    </p>
    <h3 class="w3-padding-16 w3-text-light-grey">My Skills</h3>
    <div class="w3-row-padding" style="margin:0 -16px">
      
      <div class="w3-half w3-margin-bottom">
        <ul class="w3-ul w3-white w3-center">
          <li class="w3-dark-grey w3-xlarge w3-padding-16">{% trans "Hard Skills" %}</li>
          <li class="w3-padding">MS Project, VISIO</li>
          <li class="w3-padding">{% trans "Programming Languages:" %}<p> C/C++, Python/Micro-Python, Visual Basic </p> </li>
          <li class="w3-padding">{% trans "Data Base:" %} <p>Access, SQLite, MySQL</p></li>
          <li class="w3-padding">Windows API</li>
          <li class="w3-padding">{% trans "Industrial Communication Protocol:" %}
            <p>HART, FIELDBUS, Profibus, Modbus, TCP/IP, Profinet, Ethernet/IP.</p>
          </li>
          <li class="w3-padding">Tia Portal by Siemens</li>
          <li class="w3-padding">IoT, HomeAssistant, ESPHome</li>
          <li class="w3-padding">HTML, CSS3 and W3CSS</li>
          <li class="w3-padding">μ-controllers programming, Arduino, ESP32/ESP8266, Raspberry PI, and others</li>
          <li class="w3-padding">{% trans "Knowledge in:"%}<p> DCS (Distribuied Control System), RTU (Remote Terminal Unit),
            I/O Controllers, PLC (SIEMENS, UNITRONICS, TWIDO, ZELIO), SCADA (Supervisory Control and Acquisition 
            Data). </p> </li>
        </ul>
      </div>

      <div class="w3-half">
        <ul class="w3-ul w3-white w3-center">
          <li class="w3-dark-grey w3-xlarge w3-padding-16">{% trans "Soft Skills" %}</li>
          <li class="w3-padding">{% trans "Strategy Planning." %} </li>
          <li class="w3-padding">{% trans "Self-confidence." %} </li>
          <li class="w3-padding">{% trans "Teamwork." %}</li>
          <li class="w3-padding">{% trans "Work under pressure." %}</li>
          <li class="w3-padding">{% trans "Good Communication" %} </li>
          <li class="w3-padding">{% trans "Flexibility and adaptability" %} </li>
          
        </ul>
      </div>
    <!-- End Skills tables -->
  </div>
  <button class="w3-button w3-light-grey w3-padding w3-section">
      <i class="fa fa-download">{% trans "Download Resume" %} </i> 
  </button>    
  <!-- End About Section -->
  </div>
  
  <!-- Portfolio Section -->
  <div class="w3-padding-16 w3-content" id="projects">
    <h2 class="w3-text-amber">{% trans "My Most Notable Projects" %} </h2>
    <hr style="width:200px" class="w3-opacity">

    <!-- Grid for Projects -->

    <!--<div class="w3-row-padding" style="margin:0 -16px">-->

      {% for my_project in my_projects|dictsortreversed:"date"  %}
    
        <div class="w3-card-4 w3-black">  
          <div class = "w3-container ">
            {% if my_project.image %}  
              <a href="{% url 'portfolio:project_detail' my_project.id %}">           
                <img src="{{ my_project.image.url}}" alt="{my_project.title}" class="w3-left w3-padding" width="250" height="200">      
              </a>  
            {% endif %}      
            <a href="{% url 'portfolio:project_detail' my_project.id %}" class="w3-text-white"><h1 class="w3-text-white w3-large">{{ my_project.title }}</h1></a>
            <p class="w3-text-yellow"> {{my_project.date|date:"F Y"}}  </p>        
            <p>{{ my_project.description|safe|truncatewords:20 }}</p>
          </div>
        </div>
      {% endfor %}
     
    <!-- End photo grid -->
   
  <!-- End Portfolio Section -->
  </div>
  <!-- Blog Section-->
  <div class="w3-padding-16 w3-content" id = "blog">
    <h2 class="w3-text-amber"> {% trans "My Blog" %} </h2>
    <hr class="w3-opacity w3-text-amber" style="width: 200px"> 
    {% for my_post in my_posts|dictsortreversed:"date" %}
    <div class="w3-card-4 w3-black">  
      <div class = "w3-container ">
      {% if my_post.image %} 
        <a href="{% url 'blog:post_detail' my_post.id %}">                   
          <img src="{{ my_post.image.url}}" alt="{my_post.title}" class="w3-left w3-padding" width="250" height="200">      
        </a>  
    {% endif %} 
      <a href="{% url 'blog:post_detail' my_post.id %}"><h1 class="w3-text-white w3-large">{{ my_post.title }}</h1></a>
      <p class="w3-text-yellow"> {{my_post.date}}  </p>    
      <p>{{ my_post.description|safe|truncatewords:20 }}</p> 
   
      </div>
    </div>
    {% endfor %}
  </div>

  <!-- End Block Section-->


  <!-- Contact Section -->
  <div class="w3-padding-16 w3-content w3-text-grey" id="contact">
    <h2 class="w3-text-amber">{% trans "Contact Me" %}</h2>
    <hr class="w3-opacity w3-text-amber" style="width:200px" >

    <div class="w3-section">
      <p><i class="fa fa-map-marker fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> {% trans "São Luis - Ma, Brazil"%}</p>
      <p><i class="fa fa-phone fa-fw w3-text-white w3-xxlarge w3-margin-right"></i>{% trans "Phone: +55 98 991885745 (WhatsApp too)" %}</p>
      <p><i class="fa fa-envelope fa-fw w3-text-white w3-xxlarge w3-margin-right"> </i> {% trans "e-mail: hildemaro1980@gmail.com" %}</p>
    </div><br>
   
  <!-- End Contact Section -->
  </div>
  
    <!-- Footer -->
  <footer class="w3-content w3-padding-16 w3-text-grey w3-xlarge">
    <p> {% trans "Follow me:" %}</p>
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>        
    <i class="fa fa-linkedin w3-hover-opacity"></i>
    <!--<p class="w3-medium">Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank" class="w3-hover-text-green">w3.css</a></p>-->
  <!-- End footer -->
  </footer>

<!-- END PAGE CONTENT -->
</div>

<script>
  function myFunction() {
    var x = document.getElementById("demo");
    if (x.className.indexOf("w3-show") == -1) {
      x.className += " w3-show";
    } else { 
      x.className = x.className.replace(" w3-show", "");
    }
  }
  </script>

</body>
</html>